$main:rgb(40, 8, 79);
$second:rgb(75, 43, 255);
footer
{
    background-color: white;
    box-shadow: 0px 0px 15px rgba(12, 14, 113, 0.203);
    ul 
    {
      li{
          margin: 0 5px;
          font-size: 30px;
         a{
          // background-image: linear-gradient(to right, rgb(112, 12, 113), rgb(251, 12, 255));
          // background-clip: text;
          color: $main;
         }
      }
    }
}