$main:rgb(40, 8, 79);
$second:rgb(75, 43, 255);
.home{
    position: relative;
    background-image:linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0) ), url(../../imges/dots.png);
    .myName
    {
        font-size: 30px;
        font-weight: bolder;
        background-image: linear-gradient(to right, $main, $second);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; 
    }
    .picture {
        background-image: linear-gradient($second, $main);;
        border-radius: 34% 66% 100% 0% / 59% 48% 52% 41%;
      }
      ul 
      {
        li{
            margin: 0 5px;
            font-size: 30px;
           a{
            color: $main;
           }
        }
      }
      .download_cv
      {
        width: fit-content;
        background-image: linear-gradient(to right, $main, $second);
      }
      @media screen and (max-width: 992px) {
        .myName
        {
            font-size:20px;
        }
        .picture
        {
            width: 70% !important;
            margin: auto;
        }
      }
      @media screen and (max-width: 768px) {
        margin-top: 100px;
        text-align: center;
        .myName
        {
            font-size:20px;
        }
        ul{
            margin: auto;
            margin-bottom: 20px;
        }
        .picture
        {
            width:60% !important;
            margin: auto;
        }
        .download_cv
        {
            margin: auto;
            margin-bottom: 20px;
        }
      }
      @media screen and (max-width: 285px) {
        .myName
        {
            font-size:15px;
        }
    }


}