//******scroll-to-top-button*******

.scroll-to-top-button
{
    position: fixed;
    bottom: 0;
    right: -50px;
    transition: all .5s;
    cursor: pointer;
    z-index: 999999;
    font-size: 40px;
    color: rgb(40, 8, 79);
    cursor: pointer;
}

.show
{
    right: 10px; 
}
.notFound
{
   p{
    color: white;
    letter-spacing: 10px;
    font-weight: bold;
   }
   a 
   {
    text-decoration: none;
    background-color: white;
    color: rgb(40, 8, 79);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
   }
}